.Doctor{
    background-color: rgb(7, 156, 202);
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    width: 900px;
    margin-left: 130px;
    
}
.Doctor a{
    color: black;
    text-decoration: none;
}
.div{
    margin-top: 10px;
    display: flex;
    gap: 250px;
}
div a{
    color: rgb(12, 206, 232);
   margin-left: 130px;
    text-decoration: none;
}
.well{
    margin-top:10px ;
    width: 400px;
    height: 30px;
}
.action{
    display: flex;
    gap: 160px;
}
.ruselt{
    margin-left: 130px;
}
.server_3{
    margin-top: 40px;
    padding: 20px;
    background-color: black;
    color: white;
    display: flex;
    gap: 50px;
} 
.care_7{
    font-size: 20px;
}
.care_7 i{
   font-size: 13px;
   
}
.care_8 h2{
    font-size: 35px;
   color: rgb(4, 162, 159);
}
.care_8 i{
   gap: 20px;
   font-size: 15px;
}
.care_9 h2{
    font-size: 35px;
    color: rgb(4, 162, 159);
}
.care_9 h6{
    color: rgb(55, 54, 54);
    border: 1px solid rgb(85, 84, 84);
}
.care_9 h5{
    color: rgb(55, 54, 54);
    height: 50px;
    width: 300px;
    border: 1px solid rgb(92, 90, 90);
}
.care_9 button{
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
  background-color: rgb(11, 209, 220);
}