*{
    margin: 0;
    padding: 0;
}
.item{
    width: 97%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 5px;
}

.clg div{
    width: 90%;
    margin-right: 60px;
    margin-left: -40px;
}

.drop a{
    font-size: 22px;
    text-decoration: none; 
    color: black;
    gap: 20px;
}
.drop li{
    margin: 10px;
}
.drop{
    
    margin-left: -100px;
    width: 280px;
    position: absolute;
    background-color: white;
    list-style-type: none;
    display: none;
}
.drop li:hover{
    transform: translate(50px);
    transition: 4s;
}
.drop a:hover{
   color: rgb(92, 217, 242);
}
.navbar-nav li:hover .drop{
    z-index: 1;
    display: block;
 }
 .doctor a{
    font-size: 22px;
    text-decoration: none; 
    color: black;
    gap: 20px;
 }
 .doctor{
    margin-left: -30px;
    width: 280px;
    position: absolute;
    background-color: white;
    list-style-type: none;
    display: none;
 }
 .doctor li{
    margin: 10px;
    margin-bottom: 10px;
 }
 .doctor li:hover{
    transform: translate(50px);
    transition: 4s;
}
 .doctor a:hover{
    color:rgb(92, 217, 242);
 }
 .navbar-nav li:hover .doctor{
     z-index: 1;
     display: block;
  }
  /* doctor */
  .our a{
    font-size: 22px;
    text-decoration: none; 
    color: black;
    gap: 20px;
 }
 .our{
    margin-left: -30px;
    width: 280px;
    position: absolute;
    background-color: white;
    list-style-type: none;
    display: none;
 }
 .our li{
    margin: 10px;
    /* margin-bottom: 10px; */
 }
 .our a:hover{
    color:rgb(92, 217, 242);
 }
 .our li:hover{
    transform: translate(50px);
    transition: 4s;
}
 .navbar-nav li:hover .our{
     z-index: 1;
     display: block;
  }

.ruselt{

    background-color: rgb(243, 238, 238); 
    margin-top: 60px;
    border: 50px solid rgb(243, 238, 238); 
    font-size: 25px;
}
.ruselt h1{
    margin-bottom: 30px;
    font-size: 55px;
    margin-left: 500px;
    color: red;
    font-weight: bolder;
}
.ruselt p{
    margin-bottom: 30px;
}

 .section_3{    
    margin: 0 120px 0 120px;
    margin-top: -80px;
} 
 .button_group{
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
} 
 .btn1{
    background-color: rgb(49, 49, 113);
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 30%;   
}
.btn1 a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.btn1 a img{
    height: 60px;
    width: 40px;
}
.btn2{
    background-color: rgb(109, 109, 246);
    padding: 20px;
    width: 30%;
}
.btn2 a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.btn2 a img{
    height: 60px;
    width: 50px;
}
.btn3{
    background-color: rgb(15, 207, 207);
    width: 30%;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
}
.btn3 a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.btn3 a img{
    height: 60px;
    width: 50px;
}
.icon2{
    font-size: 40px;
} 
.section_4{    
    margin: 0 120px 0 120px;
    margin-top: 20px;
}
.btn4{
    height: 155px;
    background-color: rgb(20, 77, 222);
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    width: 30%; 
}
.btn4 a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.btn4 a img{
    height: 40px;
    width: 40px;
}
.btn5{
    background-color: rgb(11, 225, 228);
    padding: 20px;
    width: 30%;
    height: 155px;   
}
.btn5 a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.btn5 a img{
    height: 40px;
    width: 40px;
}
.btn6{
    background-color: rgb(37, 37, 123);
    padding: 20px;
    width: 30%;
    height: 150px; 
    border-radius: 0px 10px 10px 0px; 
}
.btn6 a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.btn6 a img{
    height: 40px;
    width: 40px;
}
.section_6{
    /* margin: 0 165px 0 165px; */
    margin-top: 20px;
    width: 100%;
}
.list{
    width: 40%;
    margin-top: 60px;
    margin-left: 100px;
    padding-left: 60px;
}
.list_t{
    margin-left: 35px;
    
}
.list h2{
    color: rgb(109, 107, 107);
    font-size: 25px;
    font-weight: 200px;
}
.list h1{
    color: black;
    font-size: 30px;
}
.list_iteam{
    list-style: none;
    margin-top: 20px;
}
.list_iteam li{
    font-size: 15px;
    font-style: italic;
    margin: 10px;
    

}
.list_iteam li i{
    font-size: 13px;
    padding: 1px;
    margin-right: 15px;
}
.learn{
    background-color: rgb(94, 230, 230)!important;
    margin-left: 35px;
}
.learn a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.learn i{
    color: white;
    margin-left: 14px;
}
.tanu{
    width: 40%;
}
.best{
    background-color: rgb(54, 201, 201);
    clip-path: polygon(11% 0, 100% 0, 100% 60%, 100% 99%, 11% 100%, 20% 65%, 20% 44%);
    height: 80vh;
    width: 1000px;
    position: relative;
    margin-left: -600px;
}
.test{
    margin-left: 300px;
    color: white;
    margin-top: 50px;
}
.test h1{
    font-size: 30px;
}
.test h2{
    font-weight: bold;
    font-size: 40px;
}
.test li{
    list-style: none;
    margin: 5px;
}
.test_b{
    background-color: white!important;
    margin-top: 20px;
    
}
.test_b a{
    text-decoration: none;
    color: black;
}
.welcome_2{
    padding: 40px;
}
.welcome_2 img{
    margin-top: 40px;

}
.hello h1{
    color: blue;
    padding: 30px;
    font-size: 30px;
}
.hello p{
    padding: 30px;
    font-size: 25px;
}
.hello_2 h1{
    font-size: 30px;
    color: blue;
    padding: 30px;
}
.hello_2 p{
    font-size: 25px;
    margin-bottom: 100px;
    padding: 30px;}

.hello_3 h1{
    color: blue;
    padding: 30px;
}
.hello_3 p{
    font-size: 25px;
    padding: 30px;
}
.welcome{
    padding: 40px;
    margin-top: -100px;
}
.welcome img{
    margin-top: 40px;

}
.hello_4 h1{
    color: blue;
    padding: 30px;
}
.hello_4 p{
    font-size: 25px;
    padding: 30px;
}
.hello_5 h1{
    color: blue;
    padding: 30px;
}
.hello_5 p{
    font-size: 25px;
    margin-bottom: 100px;
    padding: 30px;}

.hello_6 h1{
    color: blue;
    padding: 30px;
}
.hello_6 p{
    font-size: 25px;
    padding: 30px;
}
.class{
   background-color: rgb(209, 209, 209);
}
.class h1{
    font-weight: bolder;
   margin-left: 700px;
}
  .my :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
 .my_1 :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
 .my_2 :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
 .my_3 :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
 .my_4 :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
 .my_5 :hover {
    transform: translateY(-100px);
    transition: 3s;
 }
.server{
    padding: 30px;
    background-color: black;
    color: white;
    display: flex;
    gap: 50px;
} 
.care i{
   font-size: 13px;
   
}
.care_2 h2{
    font-size: 30px;
   color: rgb(4, 162, 159);
}
.care_2 i{
   gap: 20px;
   font-size: 10px;
}
.care_3 h2{
    font-size: 30px;
    color: rgb(4, 162, 159);
}
.care_3 h6{
    color: rgb(55, 54, 54);
    border: 1px solid rgb(85, 84, 84);
}
.care_3 h5{
    color: rgb(55, 54, 54);
    height: 50px;
    width: 300px;
    border: 1px solid rgb(92, 90, 90);
}
.care_3 button{
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 100px;
  background-color: rgb(11, 209, 220);
}



@media screen and (min-width:440px) and (max-width:1000px){
    .nav-item{
        margin-left: 50px;
    }
    .drop{
        margin-left: 50px;
    }
  .others h1{
    margin-left: -30px;
  }
   .section_3{ 
    margin: auto;
    
  } 
  .button_group div{
    border-radius: 10px;
    width: 100%;
    flex-wrap: wrap;
    
  }
  .section_4{
    margin: auto;
  }
  .list{
    font-weight: bolder;
    margin-top: -10px;
    width: 100%;
    height: 440px;
  }
  .tanu{
    width: 100%;
    margin-left:-400px;
    margin-top: 440px;
  }
  .laboratory-img{
    display: none;
  }
  .best{
    height: 550px;
    margin: auto;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
  }
  .test{
    font-size: 20px;
    margin-left:70px;
    justify-content: center;
    
  }
  .utc{
    margin: auto;
  }
 .welcome_2.d-flex{
    flex-wrap: wrap;
    margin: auto;
 }
 .welcome{
    flex-wrap: wrap;
    margin: auto;
 }
 .class h1{
    margin: auto;
    margin-left:300px;
 }
  .pt div{
    flex-wrap: wrap;
  }
  .pt img{
    height: 500px;
    width: 100%;
  }
  .pi{
    overflow: hidden;
  }
  .pi img{
    transition: 2s;
  }
  .pi:hover img{
    transform: scale(1.5);
}
.server{
    margin: auto; 
}
.care{
    width: 600px;
    font-weight: bolder;
    font-size: 30px;
}
.care i{
    font-weight: bolder;
    font-size: 20px;
}
.care_2{
    height: 300px;
    margin-left: -630px;
    margin-top: 700px;
}
.care_2 i{
    font-weight: bolder;
    font-size: 20px;
}
.care_3{
    font-weight: bolder;
    font-size: 30px;
    margin-left: -330px;
    margin-top: 1020px;

}
}


@media screen and (min-width:1001px) and (max-width:1230px){
    .section_3 {
        margin: auto;
    }
    .button_group div{
        width: 100%;
        flex-wrap: wrap;
    }
    .section_4{
        margin: auto;
    }
    .others h1{
        margin-left: 200px;
      }
      .list{
        font-weight: bolder;
        margin-top: -10px;
        width: 100%;
        height: 440px;
      }
      .tanu{
        width: 100%;
        margin-left:-400px;
        margin-top: 440px;
      }
      .laboratory-img{
        display: none;
      }
      .best{
        clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
        margin: auto;
      }
      .test{
        font-size: 25px;
        justify-content: center;
       
      }
      .utc{
        margin: auto;
      }
     .welcome_2.d-flex{
        flex-wrap: wrap;
        margin: auto;
     }
     .welcome{
        flex-wrap: wrap;
        margin: auto;
     }
     .class h1{
        margin: auto;
        margin-left:550px;
     }
     .pt div{
        flex-wrap: wrap;
      }
      .pt img{
        height: 800px;
        width: 100%;
      }
      .pi{
        overflow: hidden;
      }
      .pi img{
        transition: 2s;
      }
      .pi:hover img{
        transform: scale(1.5);
    }
    .care{
        font-weight: bolder;
        font-size: 25px;
    }
    .care i{
        font-weight: bolder;
        font-size: 25px;
    }
    .care_2 i{
        font-weight: bolder;
        font-size: 20px;
    }
    .care_3{
        margin-left: -250px;
        margin-top: 300px;
        font-weight: bolder;
        font-size: 30px;
    }
}
@media screen and (min-width:1231px){
    .pt{
        display: grid;
         grid-template-columns: repeat(3,1fr);
         gap: 25px;
         width: 80%;
         margin: auto;
         margin-bottom: 10px;
           }
     .pi{
         overflow: hidden;
     }
     .pi img{
         height: 330px;
         width: 500px;
         transition: 2s;
     }
     .pi:hover img{
         transform: scale(1.5);
     }
   
}
